{
	"$schema": "https://swc.rs/schema.json",
	"jsc": {
		"baseUrl": "./",
		"parser": {
			"syntax": "typescript",
			"decorators": true,
			"dynamicImport": true
		},
		"transform": {
			"legacyDecorator": true,
			"decoratorMetadata": true
		},
		"target": "es2023"
	},
	"minify": true
}
